* {
  padding: 0px;
  margin: 0px;
}

body {
  color: var(--cor-11);
}

a {
  text-decoration: none;
  color: inherit; /* Herda a cor do elemento pai */
}

ul {
  list-style: none;
}

img[src$=".jpg"] {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.conteiner {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}